html, body {
    height: 100%;
    font-family: 'Raleway', sans-serif !important;
}

h1, h2 {
    font-weight: 800;
}

.headerDiv {
    background-image: url("../images/background.jpg");
    background-color: #1AADE4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%; 
}

#headerContent {
    margin-top: -96px;
    text-shadow: 2px 3px 3px rgb(0, 0, 0, 0.8);
}

#headerContent button {
    background-color: #EA1E49;
    border: none;
    border-radius: 3px;
    color: white;
    height: 45px;
    width: 130px;
}

#navbar {
    /*background-color: rgb(0,0,0,0.3) !important;*/
    z-index: 4001;
}

#navbarLogo {
    width: 120px;
}

#pdBottomText {
    bottom: 0;
    left: 50%;
    margin-left: -110px;
    position: absolute;
    width: 220px;
}

#pdInnerDiv {
    background-color: white; 
    box-shadow: 0px 0px 40px 12px #e0e0e0;
    height: 150px;
    margin-top: -300px !important;
    z-index: 3001;
}

#pdInnerDiv p {
    height: 60px;
    left: 50%;
    margin-left: -130px;
    margin-top: -30px;
    position: absolute;
    top: 50%;
    width: 260px;
}

#pdOuterDiv {
    background-color: white; 
    box-shadow: 0px 0px 40px 12px #e0e0e0;
    height: 450px;
}

.problemDiv p {
    font-size: 1.1rem;
    line-height: 1.3rem;
    margin: 0;
}

/* Media Queries for Small Screens*/
@media only screen and (max-width: 767px) {
    .nav-item {
        text-align: right !important;
    }
}

@media only screen and (min-width: 768px) {
    #navbar {
        background-color: rgb(0,0,0,0) !important;
    }

    #navbarLinks li a {
        color: white !important;
    }
}